<div class="project-detail-container">
  <nz-spin [nzSpinning]="loading()">
    <div class="header" *ngIf="project()">
      <div class="header-left">
        <button nz-button nzType="text" (click)="goBack()">
          <span nz-icon nzType="arrow-left"></span>
          {{ "codezen.projectDetail.back" | translate }}
        </button>
        <h1>{{ project()!.name }}</h1>
        <nz-tag [nzColor]="'blue'">
          <span nz-icon nzType="code"></span>
          {{ project()!.language }}
        </nz-tag>
      </div>
    </div>

    <nz-card class="main-card">
      <nz-tabset [(nzSelectedIndex)]="selectedTabIndex">
        <!-- Code Editor Tab -->
        <nz-tab [nzTitle]="'codezen.projectDetail.codeReview' | translate">
          <ng-template nz-tab>
            <div class="editor-section">
              <div class="editor-header">
                <h3>{{ "codezen.projectDetail.submitCode" | translate }}</h3>
                <div class="editor-actions">
                  <button nz-button nzType="default" (click)="loadSampleCode()">
                    <span nz-icon nzType="file-text"></span>
                    {{ "codezen.projectDetail.loadSample" | translate }}
                  </button>
                  <button
                    nz-button
                    nzType="primary"
                    [nzLoading]="reviewLoading()"
                    (click)="submitCodeForReview()"
                  >
                    <span nz-icon nzType="api"></span>
                    {{ "codezen.projectDetail.getAIReview" | translate }}
                  </button>
                </div>
              </div>

              <textarea
                class="code-editor"
                [ngModel]="code()"
                (ngModelChange)="code.set($event)"
                [placeholder]="
                  'codezen.projectDetail.codePlaceholder' | translate
                "
                [disabled]="reviewLoading()"
                rows="20"
              >
              </textarea>

              <div class="editor-info">
                <span nz-icon nzType="info-circle"></span>
                {{ "codezen.projectDetail.poweredByOllama" | translate }}
              </div>
            </div>
          </ng-template>
        </nz-tab>

        <!-- Reviews History Tab -->
        <nz-tab [nzTitle]="reviewsTitle">
          <ng-template #reviewsTitle>
            <span>
              <span nz-icon nzType="file-text"></span>
              {{ "codezen.projectDetail.reviews" | translate }} ({{
                reviews().length
              }})
            </span>
          </ng-template>

          <ng-template nz-tab>
            <div class="reviews-section">
              <nz-list
                *ngIf="reviews().length > 0; else noReviews"
                [nzDataSource]="reviews()"
                [nzRenderItem]="reviewItem"
              >
                <ng-template #reviewItem let-review>
                  <nz-list-item [nzActions]="[viewAction]">
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>
                        {{
                          "codezen.projectDetail.reviewId"
                            | translate : { id: review.id }
                        }}
                        <nz-tag
                          *ngIf="review.effortEstimation"
                          [nzColor]="'green'"
                        >
                          {{
                            "codezen.projectDetail.effort"
                              | translate
                                : { estimation: review.effortEstimation }
                          }}
                        </nz-tag>
                      </nz-list-item-meta-title>
                      <nz-list-item-meta-description>
                        {{ getFormattedDate(review.timestamp) }}
                      </nz-list-item-meta-description>
                    </nz-list-item-meta>

                    <ng-template #viewAction>
                      <button
                        nz-button
                        nzType="link"
                        (click)="viewReview(review)"
                      >
                        {{ "codezen.projectDetail.viewDetails" | translate }}
                      </button>
                    </ng-template>
                  </nz-list-item>
                </ng-template>
              </nz-list>

              <ng-template #noReviews>
                <nz-empty
                  [nzNotFoundContent]="
                    'codezen.projectDetail.noReviews' | translate
                  "
                  [nzNotFoundFooter]="noReviewsFooter"
                >
                  <ng-template #noReviewsFooter>
                    <button
                      nz-button
                      nzType="primary"
                      (click)="selectedTabIndex.set(0)"
                    >
                      {{
                        "codezen.projectDetail.submitFirstReview" | translate
                      }}
                    </button>
                  </ng-template>
                </nz-empty>
              </ng-template>
            </div>
          </ng-template>
        </nz-tab>

        <!-- Custom Guidelines Tab -->
        <nz-tab [nzTitle]="guidelinesTitle">
          <ng-template #guidelinesTitle>
            <span>
              <span nz-icon nzType="book"></span>
              {{ "codezen.projectDetail.guidelines" | translate }} ({{
                guidelines().length
              }})
            </span>
          </ng-template>

          <ng-template nz-tab>
            <div class="guidelines-section">
              <div class="guidelines-header">
                <h3>
                  {{ "codezen.projectDetail.customGuidelines" | translate }}
                </h3>
                <p>
                  {{
                    "codezen.projectDetail.guidelinesDescription" | translate
                  }}
                </p>
              </div>

              <div class="add-guideline">
                <textarea
                  nz-input
                  [ngModel]="newGuideline()"
                  (ngModelChange)="newGuideline.set($event)"
                  [placeholder]="
                    'codezen.projectDetail.guidelinePlaceholder' | translate
                  "
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                >
                </textarea>
                <button nz-button nzType="primary" (click)="addGuideline()">
                  <span nz-icon nzType="plus"></span>
                  {{ "codezen.projectDetail.addGuideline" | translate }}
                </button>
              </div>

              <nz-divider></nz-divider>

              <nz-list
                *ngIf="guidelines().length > 0; else noGuidelines"
                [nzDataSource]="guidelines()"
                [nzRenderItem]="guidelineItem"
              >
                <ng-template #guidelineItem let-guideline>
                  <nz-list-item [nzActions]="[deleteAction]">
                    <nz-list-item-meta>
                      <nz-list-item-meta-avatar>
                        <span
                          nz-icon
                          nzType="check-circle"
                          nzTheme="fill"
                          style="color: #52c41a"
                        ></span>
                      </nz-list-item-meta-avatar>
                      <nz-list-item-meta-description>
                        {{ guideline.ruleText }}
                      </nz-list-item-meta-description>
                    </nz-list-item-meta>

                    <ng-template #deleteAction>
                      <button
                        nz-button
                        nzType="text"
                        nzDanger
                        [title]="
                          'codezen.projectDetail.deleteGuideline' | translate
                        "
                        (click)="deleteGuideline(guideline, $event)"
                      >
                        <span nz-icon nzType="delete"></span>
                      </button>
                    </ng-template>
                  </nz-list-item>
                </ng-template>
              </nz-list>

              <ng-template #noGuidelines>
                <nz-empty
                  [nzNotFoundContent]="
                    'codezen.projectDetail.noGuidelines' | translate
                  "
                  nzNotFoundImage="simple"
                >
                </nz-empty>
              </ng-template>
            </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </nz-spin>
</div>
